<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">

    <title>Рекомендуемые варианты</title>
</head>
<body>
<div class="form" id="table" style="margin-top: 3%;">
    <h1>Рекомендуемые варианты</h1>
    <br>
    <table class="table table-hover" id="sheet_table">
        <thead>
            <tr>
                <th scope="col">Вариант</th>
{#                <th scope="col">Подходящесть</th>#}
                <th scope="col">Виртуальная примерка</th>
            </tr>
        </thead>
        <tbody>
            {% for best_match in best_matches %}
                <tr>
                    <td>{{ best_match[1] }} </td>
{#                    <td>{{ best_match[0] }}</td>#}
                    <td>
                        <form method="post" action="{{ url_for('try_on_photo') }}">
                            <button type="submit" class="btn btn-success" name="type" value="{{ best_match[1] }}">Примерить</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>