<!DOCTYPE html>
<html lang="ru">
<head>
<script>
    function readURL(input) {
            console.log(input.files)
            console.log(input.files[0])
            window.alert(input.files)
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#pic')
                        .attr('src', e.target.result)
                        .width(250)
                        .height(300);
                };

                reader.readAsDataURL(input.files[0]);
            }
    }
    function loadFile(){
        const file = document.getElementById("imageInput").value;
        const fileName = file.split('\\')[2];
        console.log(file)
        console.log(fileName)


        {#document.getElementById("box").innerHTML = `Chosen file is ${fileName}. Upload or chose another file.`;#}
    }
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>Рекомендация по фото</title>
</head>
<body>

<div class="form" style="margin-top: 3%;">
    <h1><strong>Рекомендация по фото</strong></h1>
    <br>
    <form action="{{ url_for('upload_img') }}" method = "POST" enctype = "multipart/form-data">
    <div class="form-group">
      <input type='file' name="photo" accept="image/*" id="imageInput" onchange="loadFile()" />
{#        <br>#}
{#        <img id="pic" src="#" alt="your_img"/>#}
    </div>
    {#	<p><strong>Note:</strong> Please Upload your image</p>#}
        <br>
        <input type="submit" class="btn btn-warning" value="Отправить">
    </form>
    <br>
    <form action="{{ url_for('index') }}" method = "GET">
        <input type="submit" class="btn btn-success" value="Вернуться в начало">
    </form>
</div>
</body>
</html>