<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>Рекомендательная система</title>
</head>
<body>

<div class="form" style="margin-top: 3%;">
    <h1><strong>Рекомендательная система</strong></h1>
    <br>
    <br>
    <form action="{{ url_for('image') }}" method = "GET" >
        <button type="submit" class="btn btn-success">Использовать фотографию</button>
    </form>
    <br>
{#<form action = "http://ip-address:5000/video" method = "GET">#}
{#	<input type="submit" class="btn btn-info" value="Remote Camera">#}
{#</form>#}
{#</br>#}
    <form action = "{{ url_for('take_photo') }}" method = "GET">
        <button type="submit" class="btn btn-success" disabled>Использовать Веб-камеру</button>
    </form>
</div>

</body>
</html>
